.App {
  text-align: center;
}

.navbar{
  background-color: #472dc4;
}

.navbar-brand{
  margin-right: 0 !important;
}

.books {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.book{
  float: left;
  width: 16rem;
  height: 10rem;
}

.card {
  margin: 0.5rem 0.25rem;
  
}

.addBook, .welcome{
  padding: 5vh 5vw !important;
  margin-bottom: 3vh;
  background-color: #c5cae9;
  border-radius: 5%;
}

.error{
  color: red;
  padding: 1rem;
  font-size: 2rem;
}

.contactSection {
  padding: 5vh 0vw;
  background-color: #472dc4;
  color: white;
  clear: both;
}

.contactSection p {
 margin: 0;
}

.footer{
  background-color: #472dc4;
  border-top: 1px solid #bdbdbd; 
}


