.App {
  text-align: center;
  color: #212121;
}

.Navbar {
  background-image: linear-gradient(125deg, #472BC4 20%, #4CAF50);
  box-shadow: 0px 25px 25px rgb(0, 0, 0, 0.25);
}
.nav-link {
  font-size: 16px;
  margin: 3px;
  color: #fff !important;
  font-weight: 500;
}
.nav-link:hover, .nav-link:focus {
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

.navbar-brand {
  margin-right: 0 !important;
}

.books {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.book {
  float: left;
  width: 16rem;
  height: 10rem;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.25);
}

.book .text-muted {
  color: #757575 !important;
}

.books h1 {
  text-align: center;
  margin: 1rem;
}

.card {
  margin: 0.5rem 0.25rem;
  
}

.addBook, .welcome {
  padding: 5vh 5vw ;
  margin-bottom: 3vh;
  background-color: #C5CAE9;
  border-radius: 25px;
  
}

.addBook .btn-outline-primary {
  font-weight: 600;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}

.addBook .btn-outline-primary:hover {
  font-weight: 600;
  color: #ffffff;
  border: 2px solid #4CAF50;
  background-color: #4CAF50;
}

.error {
  color: red;
  padding: 1rem;
  font-size: 2rem;
}

.welcome .btn-outline-primary {
  font-weight: 600;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}

.welcome .btn-outline-primary:hover {
  font-weight: 600;
  color: #ffffff;
  border: 2px solid #4CAF50;
  background-color: #4CAF50;
}

.contactSection {
  padding: 5vh 0vw;
  background-image: linear-gradient(to top, #472BC4 , #4CAF50);
  color: white;
  clear: both;
}

.contactSection p {
 margin: 0;
}

.footer {
  background-color: #472dc4;
  border-top: 1px solid #bdbdbd; 
}


